
.icon-glass:before { content: '\e800'; } /* '' */
.icon-hourglass:before { content: '\e801'; } /* '' */
.icon-camera:before { content: '\e802'; } /* '' */
.icon-video-alt:before { content: '\e803'; } /* '' */
.icon-harbor:before { content: '\e804'; } /* '' */
.icon-paw:before { content: '\e805'; } /* '' */